node_modules
dist
dist-electron
.env
.env.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
release
*.exe
*.zip
*.dmg
*.AppImage
.idea
.vscode
*.db
*.sqlite
*.sqlite-journal
supa_backup_*.sql
